services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: minimercado2024-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./storage:/var/www/storage
    networks:
      - minimercado-network
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: minimercado2024-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - minimercado-network
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: minimercado2024-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - minimercado-network

networks:
  minimercado-network:
    driver: bridge

volumes:
  dbdata:
    driver: local