services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: minimercado-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - minimercado-network
    depends_on:
      - db
    tty: true

  nginx:
    image: nginx:alpine
    container_name: minimercado-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - minimercado-network
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: minimercado-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - minimercado-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: minimercado-phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_USER: ${DB_USERNAME}
      PMA_PASSWORD: ${DB_PASSWORD}
    networks:
      - minimercado-network
    depends_on:
      - db

networks:
  minimercado-network:
    driver: bridge

volumes:
  dbdata:
